
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
   
}

body { 
    background-color: black;    
}

h3 {
    color: red;
    font-family: 'Carter One', cursive;
    font-size: 2em; 
}

h1 {
    color: red;
    font-family: 'Carter One', cursive;
    font-size: 4em; 
}

/*
**** NAV BAR ****
*/

.navbar {
    width: 100%;
    height: 6em;
    display: flex;
    background-color: yellow;
    align-items: center;
   
}

.navbar ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}


.navbar li {
    list-style-type: none;
    float: left;
}

.navbar li a {
    font-family: 'Carter One', cursive;
    font-size: 2.5em;
    text-decoration: none;
    color: red;
}

/*
**** HOMEPAGE ****
*/

main {   
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 5em;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    animation: fadein 3s;
}

.card-container {
    width: 200px;
    height: 300px;
    margin-right: 2em;
    margin-bottom: 4em   
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*
**** FLIP CARDS ****
*/

.card-container:hover .card {
    transform: rotateY(180deg);
}

.card {
    width: 200px;
    height: 300px;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
}

.card figure {
    width: 200px;
    height: 300px;
    position: absolute;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card .front {
    width: 200px;
    height: 300px;   
    border-radius: 15px;
}

figure img {
    width: 200px;
    height: 300px;
    background-size: cover;
    border-radius: 15px;
    filter: drop-shadow(0 -4mm 2mm rgb(134, 2, 19));  
}

.card .back {
    width: 200px;
    height: 300px;
    background-color: black;
    background-size: cover;
    color: red;
    transform: rotateY(180deg);
    text-align: center;
    border-radius: 15px;
}

/*
**** FOOTER ****
*/

footer {
    position : absolute;
    position: fixed;
    bottom : 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3em;
    background-color: yellow;
    font-family: 'Carter One', cursive;
    font-size: 1.5em;
    color: red; 
}

/*
**** FICHE TEMPLATE ****
*/

.section-fiche {
    display : flex;
    margin-top : 3em;
    margin-bottom: 5em;
    justify-content: space-around;  
}

.section-fiche div {
    margin-right: 25px;
}

.titre-fiche {
    font-family: 'Carter One', cursive;
    color: red;
    font-size: 4em;
    text-align : center;
    margin-top: 1em;
}

.main-fiche {
    width: 100%;
    height: auto;
    display: block; 
}

.synopsis-fiche {
    margin-top : 3em; 
}

.acteur-fiche li {
    display: flex;
    font-family: 'Carter One', cursive;
    color : yellow; 
    list-style-type: none;
    margin-bottom: 0.5em; 
    margin-top: 1em;   
}

.acteur-fiche img {
    border-radius: 50%;
    margin-right: 1em;    
}

.resume-fiche {
    display: flex;
    flex-wrap: wrap;;
    font-family: 'Carter One', cursive;
    color : yellow;
    width : 30%;
    align-items: baseline;
    height: 50vh;  
}

.ost {
    width: 30%;    
}

.ost li {
    font-family: 'Carter One', cursive;
    color : yellow; 
    list-style-type: none;
    margin-bottom: 0.7em;    
}

.infos {
    display: flex;  
}

.resume-fiche img {
    width : 200px;
    margin-right: 1em;
    padding-top: 3.5em;
}

.resume-fiche li {
    list-style-type: none;
}


/*
**** QUIZ ****
*/

.container-quiz {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice {
    display : flex;
    justify-content: center;
    flex-wrap: wrap;
}

#quiz {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 300px;
    height : 150px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: yellow;
    color : red;
    border-radius : 15px;
    font-family: 'Carter One', cursive;
    font-size: 20px;
}

.btn:hover{
    background-color: black;
}

#question, #score, #progress{
    color: red;
    font-family: 'Carter One', cursive;
    font-size: 30px;
    margin-bottom: 50px;  
}

/*
**** CITATIONS ****
*/

div.mainquote {
    margin-top: 1em;
    color: red;
    font-size: 3em;
    font-family: 'Carter One', cursive;
    width: 60%;
    height: 100%;
    text-align: center;
}

#author {
    margin-top: 1em;   
}

.buttonnav {
    margin-top: 1em;  
}

#nav-prev {
    width: 7em;
    height: 3em;
    border-radius: 1em;
    background-color: yellow;
    color: red;
    font-size: 0.5em;
    font-family: 'Carter One', cursive;
}

#nav-next {
    width: 7em;
    height: 3em;
    border-radius: 1em;
    background-color: yellow;
    color: red;
    font-size: 0.5em;
    font-family: 'Carter One', cursive;
}

#nav-prev:hover {
    background-color: black;
}

#nav-next:hover {
    background-color: black;
}







